* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.progressBar {
  display: none;
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 20%;
  right: calc(50% - 100px);
}

.modalContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  flex-direction: column;
  transform: translateY(100%);
}

.bottleDescription {
  width: 35vw;
  height: 55vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: sans-serif;
  font-size: 3rem;
  pointer-events: none;
}

button {
    width: 35vw;
    height: 5vh;
}

#penalty {
  width: 10vw;
  height: 5vw;
  position: fixed;
  bottom: 10%;
  left: calc(50% - 10vw/2);
  background-color: black;
  color: white;
  font-size: 2rem;
  z-index: 2;
}

#closePenalty {
  width: 10vw;
  height: 5vw;
  position: fixed;
  bottom: 5%;
  left: calc(50% - 10vw/2);
  background-color: black;
  color: white;
  font-size: 2rem;
  z-index: 1;
  visibility: hidden;
}

#kickButton {
  width: 15vw;
  position: fixed;
  bottom: 15%;
  left: calc(50% - 15vw/2);
  font-size: 2rem;
  z-index: 1;
  visibility: hidden;
}
